
{% extends 'CHUMedecinBundle:Default:index.html.twig'%}
{% block body %}
  <form  action= "#" method="post">
 <label>Ajouter un patient </label>
<input id="codePatient" type="text" name="codePatient" required/>
<button id="submit" type="submit">Ajouter</button> 
</form>
{% endblock body %}