{% extends 'CHUAdministartionBundle:Default:index.html.twig'%}

{%block lien%} 

{% endblock %}
 {% block menu %}
<li><a  href="{{path('creer_compte_medecin')}}"> <span class="glyphicon glyphicon-plus-sign"></span> creer compte</a></li> 
<li><a href="{{path('ajouter_patient_medecin')}}"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter un patient </a></li>
<li><a href="{{path('afficher_patients_medecin')}}"><span class="glyphicon  glyphicon-menu-hamburger"></span> Afficher les patient  </a></li>
<li><a href="#"><span class="glyphicon glyphicon-plus-sign"> </span> Ajouter une étude </a></li>
<li><a href="{{path('afficher_etudes_medecin')}}"><span class="glyphicon glyphicon-menu-hamburger"></span> afficher les études </a></li> 
        
    {% endblock  %}
