<!DOCTYPE >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Enregistrement</title>

	
	<link rel="stylesheet" type="text/css" href="{{asset('public/css/enregistrement.css')}}">
    <link rel="stylesheet"  href="{{asset('public/css/bootstrap.min.css')}}">
    
    

</head>

    <body>

    {% block body %}{%endblock%}
       

    </body>
    <script src="public/jquery/jquery.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    
    
</html>