<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<title>Login</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"  href="{{asset('public/css/log.css')}}" />
<script type="text/javascript"></script>
</head>



<body >

<div class="container">
	<section id="content">
		<h1> Confirmer inscription </h1>
		<form  action="{{ path('registration') }}" method="post">
			<div class="wrapper">
				
				<input type="text"  name="codeIndcription" required/>
			</div>
			
			<div>
				<input type="submit" value="Valider"/>
			</div>
			
		</form>
	</section>
</div>

</body>
</html>