{% extends 'CHUAdministartionBundle:Default:index.html.twig'%}

 {% block menu %}
       <li><a href="{{path('afficher_etudes_medecin')}}"><span class="glyphicon glyphicon-lock"></span> afficher les études </a></li> 
       <li><a href="#"><span class="glyphicon glyphicon-lock"></span>Afficher les questionnaires </a> </li>
      
       
        
    {% endblock  %}


{%block lien%} 
{% if is_granted("ROLE") %}
    Hi {{ app.user.email }}
{% endif %}

{% endblock %}

