/**
  LA FEUILLE DE STYLE POUR LE BUNDLE ETUDE.
**/

#buttonAddRow{
  font-size: 15px;
}

#etude_content {
  background-color: #ffffff;
  margin: auto;
  padding: 0% 5%;
  position: absolute;
  top: 0; left: 20%; bottom: 0%; right: 20%;
  border: 1px solid #eee;
  border-radius: 6px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.4);
}

#form_name {
  float:left;
  margin-right: 5%;
}

#liste_etudes th, td {
    border-bottom: 1px solid #ddd;
}

#liste_etudes .btn-danger {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
