/**
  LA FEUILLE DE STYLE POUR LE BUNDLE ETUDE.
**/

h1 {
  border-bottom: solid;
}

#buttonAddRow{
  font-size: 15px;
}

#message {
  background-color: #F0F0F0;
  padding:5%;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
  border: 1px solid #eee;
  border-radius: 6px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.4);
}

#create_form {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%
}

#create_form #form {
  margin-top : 10%
}

#etude_content {
  background-color: #ffffff;
  margin: auto;
  padding: 0% 5%;
  position: absolute;
  left: 20%;
  right: 20%;
  border: 1px solid #eee;
  border-radius: 6px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.4);
}

#componentInfoText {
  font-style: italic;
  font-size: 14px;
}

#previewInfoText {
  font-style: italic;
  font-size: 14px;
}

#form_name {
  float:left;
  margin-right: 5%;
}

#liste_etudes {
  margin-left: 10%;
  margin-right : 10%
}

#liste_etudes #table_etudes{
  font-size: 20px;
  margin-right : 20%;
  margin-left : 20%;
  margin-top : 10%;
  margin-bottom: 10%;
}

#liste_etudes th, td {
    border-bottom: 1px solid #ddd;
}

#liste_etudes #suppr_etude_button {
  margin-bottom: 15%;
  margin-top : 15%;
  padding : 2px 8px;
}

.tab_cell_score {
  width:30px;
}


.FormSection {
  border-bottom : solid;
  border-width : 1px;
  border-bottom : 1;
  margin : 0% 5%;
}

.FormSectionText {
  font-size : 15px;
  font-style : italic;
}

.DataConstraints {
  width : 70px;
}

/*LA zone de création du formbuilder*/
#formBuildArea
{
  overflow: scroll;
  height: 500px;
}
