<div id="mainHolder">
    <div class="row">
        <!-- Source -->
        <div id="componentHolder" class="col-lg-6 col-sm-12">
          <h2>Éléments</h2>
          <div id="componentInfoText"><p> Faites glisser-déposer les éléments de cette partie dans le cadre "Aperçu du questionnaire". <p></div>
          <div id="componentsTabPane">


            <form class="form-horizontal" id="components">
              <fieldset>
                <div class="tab-content">


<!--------------------------------------------------------------------->
<div id="inputs" class="sourceHolder connectedSortable tab-pane active">
    <div class="form-group">
      <!--SAISIE MONOLIGNE-->
      <label class="col-sm-4 control-label" for="textInput">Ligne de texte</label>
      <div class="col-sm-7" type="text">
        <input id="textInput" name="textInput" type="text"  class="form-control">
      </div>
    </div>
    <!---->
    <div class="form-group">
      <!-- SAISIE MULTILIGNE -->
      <label class="col-sm-4 control-label" for="textarea">Zone de texte</label>
      <div class="col-sm-7" type="textarea">
        <div class="input-group">
          <textarea id="textarea" name="textarea" class="form-control" rows=1></textarea>
        </div>
      </div>
    </div>
    <!---->
    <div class="form-group">
      <!-- LISTE CHOIX UNIQUE -->
      <label class="col-sm-4 control-label" for="selectSingle">Liste choix unique</label>
      <div class="col-sm-7" type="option">
        <select id="selectSingle" name="selectSingle" class="form-control" >
        </select>
      </div>
    </div>
    <!---->
    <div class="form-group">
      <!-- SECTION -->
      <label class="col-sm-4 control-label" for="textInput">Section</label>
  		<div class="col-sm-7" type="section">
  			<textarea id="textarea" name="textInput">Texte de la section.</textarea>
      </div>
    </div>
    <!---->


</div>


<!--------------------------------------------------------------------->

                </div>
              </fieldset>
            </form>
          </div>
        </div>

        <!-- Target -->
        <div id="formVisualizer" class="col-lg-6 col-sm-12">
          <h2>Aperçu du questionnaire</h2>
          <div id="previewInfoText"><p>Faites un clique droit sur les éléments pour afficher les réglages.</p></div>
          <form class="form-horizontal area" id="formBuildArea">
            <div id="target" class="connectedSortable">

            </div>
          </form>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <hr></hr>
        <form method="post" action="{{path('chu_etude_submit_builded_form')}}">
          <textarea id="formSource" style="display:none" name="formulaire"></textarea>
          <input id="titre" name="titre" type="hidden" value="{{form_title}}">
          <input id="scores" name="scores" type="hidden" value="{{scores}}">
          <button type="submit" class="btn btn-success">Créer</button>
          <a id="cancelButton" href="{{ path('chu_etude_show_etudes')}}" class="btn btn-primary">Annuler</a>
        </form>
      </div>
    </div>
</div>

<!-- MENU CONTEXTUEL-->
<div id="contextMenu" class="dropdown clearfix">
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
    <li><a id="edit" tabindex="-1" href="javascript:void(0)">Réglages<span class="pull-right glyphicon glyphicon-pencil"></span></a></li>
    <li><a id="clearForm" tabindex="-1" href="javascript:void(0)">Effacer tout<span class="pull-right glyphicon glyphicon-trash"></span></a></li>
  </ul>
</div>

<!-- Confirm modal -->
<a href="#confirm-modal" class="modal-toggle hidden" data-toggle="modal"><i class="icon-trash"></i> Show Alert Modal</a>
<div id="confirm-modal" class="modal">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
            <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
            <h3 class="center-block">Effacer</h3>
        </div>
        <div class="modal-body text-center">
             <p>Remettre à zéro le questionnaire ?</p>
        </div>
        <div class="modal-footer text-center">
          <a id="cancelButton" href="#" data-dismiss="modal" aria-hidden="true" class="btn-lg btn btn-default">Annuler</a>
          <a id="confirmButton" href="#" data-dismiss="modal" aria-hidden="true" class="btn-lg btn btn-danger">Oui</a>
        </div>
      </div>
    </div>
</div>
