{# src/CHU/EtudeBundle/Resources/views/Default/form_builder.html.twig #}

<div id="mainHolder" class="container">
    <div class="row">
        <!-- Source -->
        <div id="componentHolder" class="col-lg-6 col-sm-12">
          <h2>Vos composants</h2>
          <hr></hr>
          <div id="componentsTabPane">
            <ul class="nav nav-tabs" id="formtabs">
              <!-- Tab nav -->
              <li class="active"><a href="#inputs" data-toggle="tab">Champs de texte</a></li>
              <li><a href="#radioscheckboxes" data-toggle="tab">QCM</a></li>
              <li><a href="#select" data-toggle="tab">Listes de choix</a></li>
            </ul>
            <form class="form-horizontal" id="components">
              <fieldset>
                <div class="tab-content">


                  <!-- Input pane -->
                  <div id="inputs" class="sourceHolder connectedSortable tab-pane active">
                  <!-- Input alternatives here -->

                      <div class="form-group">
                          <!-- Champs de texte : Nom -->
                          <label class="col-sm-4 control-label" for="textInput">Nom : </label>
                          <div class="col-sm-7" type="text">
                            <input id="textInput" name="Nom : " type="text" placeholder="Entrez votre nom" class="form-control">
                          </div>
                      </div>

                      <div class="form-group">
                        <!-- Champ de texte : Prénom -->
                        <label class="col-sm-4 control-label" for="textInput">Prénom : </label>
                        <div class="col-sm-7" type="text">
                          <input id="textInput" name="Prénom : " type="text" placeholder="Entrez votre prénom" class="form-control">
                        </div>
                      </div>

                      <div class="form-group">
                        <!-- Champ de texte : Commentaire -->
                        <label class="col-sm-4 control-label" for="textarea">Avez-vous un commentaire ? </label>
                        <div class="col-sm-7" type="textarea">
                          <div class="input-group">
                            <textarea id="textarea" name="Avez-vous un commentaire ? " class="form-control"></textarea>
                          </div>
                        </div>
                      </div>

                  </div>

                  <!-- Radio pane -->
                  <div id="radioscheckboxes" class="sourceHolder connectedSortable tab-pane">
                  <!-- radio and checkbox alternatives here -->

                      <div class="form-group">
                        <!-- Multiple radios -->
                        <label class="col-sm-4 control-label" for="textInput">Sexe : </label>
                        <div class="col-sm-7" type="radio">
                          <label class="radio" for="sexe">
                            <input type="radio" name="Sexe : " id="radios-0" value="Homme">Homme
                          </label>
                          <label class="radio" for="radios">
                            <input type="radio" name="Sexe : " id="radios-1" value="Femme">Femme
                          </label>
                        </div>
                      </div>

                      <div class="form-group">
                        <!-- Multiple checkboxes -->
                        <label class="col-sm-4 control-label" for="textInput">Où souffrez-vous ?</label>
                        <div class="col-sm-7" type="checkbox">
                          <label class="checkbox" for="loc-douleur">
                            <input type="checkbox" name="Où souffrez-vous ?[]" id="checkboxes-0" value="Tête">Tête
                          </label>
                          <label class="checkbox" for="loc-douleur">
                            <input type="checkbox" name="Où souffrez-vous ?[]" id="checkboxes-1" value="Dos">Dos
                          </label>
                          <label class="checkbox" for="loc-douleur">
                            <input type="checkbox" name="Où souffrez-vous ?[]" id="checkboxes-2" value="Pieds">Pieds
                          </label>
                        </div>
                      </div>

                  </div>

                  <!-- Select pane -->
                  <div id="select" class="sourceHolder connectedSortable tab-pane">
                  <!-- Select alternatives here -->

                      <div class="form-group">
                        <!-- Select single -->
                        <label class="col-sm-4 control-label" for="selectSingle">Corps de métier : </label>
                        <div class="col-sm-7" type="option">
                          <select id="selectSingle" name="Corps de métier : " class="form-control">
                            <option value="BTP">BTP</option>
                            <option value="Militaire">Militaire</option>
                            <option value="Restauration">Restauration</option>
                            <option value="Enseignement">Enseignement</option>
                          </select>
                        </div>
                      </div>

                  </div>


                </div>
              </fieldset>
            </form>
          </div>
        </div>

          <!-- Target -->
          <div id="formVisualizer" class="col-lg-6 col-sm-12">
            <h2>Votre questionnaire</h2>
            <hr></hr>
            <form class="form-horizontal area">
              <div id="target" class="connectedSortable">

              </div>
            </form>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <!-- ATTENTION LE CHEMIN EST ECRIT EN DUR-->
          <form method="post" action= "{{path('chu_etude_submit_builded_form')}}">
            <!-- le titre de l'étude est obligatoire-->
          <p>Titre de l'étude :</p><input type="text" name="form_title" required/><br>
          <hr></hr>
          <textarea id="formSource" style="display:none;" name="form_builded"></textarea>
          <button type="submit" class="btn btn-success">Valider</button>
          </form>
        </div>
      </div>
  </div>

  <div id="contextMenu" class="dropdown clearfix"></div>
