{# src/CHU/EtudeBundle/Resources/views/Default/index.html.twig #}

{% extends "CHUEtudeBundle::layoutBundle.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{asset('public/css/enregistrement.css')}}">
{% endblock %}


{% block body_bundle %}
<div id="submit">
<pre>
<a href="{{path('chu_etude_build_form')}}"> Création d'une étude</a><br/>
<a href="{{path('chu_etude_show_etudes')}}"> Liste des études </a>
</pre>
</div>
{% endblock %}
