{# src/CHU/EtudeBundle/Resources/views/Default/listQuestion.html.twig #}

{% extends "CHUEtudeBundle::layoutBundle.html.twig" %}

{% block title %}
Liste des Questions
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{asset('public/css/enregistrement.css')}}">
{% endblock %}


{% block chu_questionnaire_body %}
<pre> <font size="5" style="border-bottom:solid">Études disponibles : </font><br/>
  {% for Etude in EtudeList %}
    <li  style="border:dotted" >Étude : {{ Etude.name }}. <a href="/etud/{{Etude.id}}" class="btn btn-default"> y répondre </a> <br/> Commentaires : {{ Etude.commentary }}  </li>
  {% endfor %}
</pre>
{% endblock %}
