{# src/CHU/EtudeBundle/Resources/views/Default/newEtude.html.twig #}

{% extends "CHUEtudeBundle::layoutBundle.html.twig" %}

{% block title %}
Nouvelle Etude
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{asset('public/css/enregistrement.css')}}">
{% endblock %}


{% block chu_questionnaire_body %}
<div id="submit">
    <form  action= "{{ path('chu_etude_questionnaire_creation_etude_valide') }}" method="post">
        <p>
            <label for="newQuestion">Intitulé de la nouvelle étude : </label>
            <input id="newQuestion" type="text" name="newEtude" value="" required/><br/>
            <label for="newQuestion">Commntaires : </label>
            <input id="newQuestion" type="text" name="newEtudeCommentary" value="" required/><br/>
						<input type="submit"/>
        </p>
    </form>
</div>
{% endblock %}
