{# src/CHU/EtudeBundle/Resources/views/Default/Etude_Aswers_Display.html.twig #}

{% extends "CHUEtudeBundle::layoutBundle.html.twig" %}

{% block title %}
Questionnaire
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}


{% block body_bundle  %}
<pre>
	<table>
	{{ tab | raw 	 }}
	</table>
</pre>
  <a href="{{ path('chu_etude_show_etudes')}}" class="btn btn-default"> Retour à la liste des études.</a>
{% endblock %}
