{# /src/CHU/gestionUtilisateurBundle/Resources/views/LoginPages/login.html.twig #}

{% extends "CHUgestionUtilisateurBundle::layoutBundle.html.twig" %}

{% block title %}
  Login - {{ parent() }}
{% endblock %}

{% block chu_gestion_utilisateur_body %}
  <h1>Connection</h1>
  {{ include("CHUgestionUtilisateurBundle:LoginPages:formLogin.html.twig")}}
{% endblock %}
