{% extends 'CHUInfirmierBundle:Default:index.html.twig'%}
 {% block stylesheets %}
    <link rel="stylesheet" href="{{asset('/public/css/creerCompte.css')}}">
{% endblock  %}

{% block body %}

   <div class="container">
 {% if code is defined  %}
  <div class="page-header">{{ code }}</div>

 {% else %}
  <div class="page-header"></div>
  <div id="signup-form" style="float:left;">
   {% block form %}
    <form  action= "{{ path('creer_compte_infirmier')}}"  method="post">
    <p>
     <label >Type de compte</label>
       <select style="width:250px" name="role">
      <option value="ROLE_ASSISTANT" >Assistant</option>
      <option value="ROLE_PREVENTEUR" >Preventeur</option>
      <option value="ROLE_SALARIE" >Salarie</option>   
     </select>
        
    </p><br>
    <p>
     <button id="submit" type="submit">S'enregister</button>
    </p>   
   </form>
      {%endblock%}
  </div>
 {% endif %}
</div>

{%endblock%}