{# /src/CHU/gestionUtilisateurBundle/Resources/views/creationUtilisateur/creationUtilisateur.html.twig #}

{% extends "CHUgestionUtilisateurBundle::layoutBundle.html.twig" %}

{% block title %} Création Utilisateur - {{ parent() }}{% endblock %}

{% block chu_gestion_utilisateur_body %}
  <h1>Création Utilisateur</h1>
  {{ include('CHUgestionUtilisateurBundle:CreationUtilisateur:formCreationUtilisateur.html.twig') }}
{% endblock %}
