{# src/CHU/gestionUtilisateurBundle/Resources/views/gestionUtilisateur/accueil.html.twig #}

{% extends 'CHUgestionUtilisateurBundle::layoutBundle.html.twig'%}

{% block title %}
Accueil
{% endblock %}

{% block chu_gestion_utilisateur_body %}
  <section id="banner" class="banner">
  <div class="bg-color">
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="col-md-12">

              <div class="collapse navbar-collapse navbar-right" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class=""><a href="{{path('chu_gestion_utilisateur_page_login')}}">Se connecter</a>
          <li class=""><a href="{{path('chu_gestion_utilisateur_page_creation')}}">S'enregistrer</a></li>
        </ul>
      </div>

      <div class="collapse navbar-collapse navbar-left" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class=""><a href="{{ path('chu_gestion_utilisateur_accueil') }}">Accueil</a>

        </ul>
      </div>

  </div>
  </div>
  </nav>
  <div class="container">
  <div class="row">
    <div class="banner-info">
      <div class="banner-logo text-center">


      <div class="overlay-detail text-center">

             </div>
    </div>
  </div>
  </div>
  </div>
      </div>
  </section>
{% endblock %}
