{# src/CHU/gestionUtilisateurBundle/Resources/views/gestionUtilisateur/form_enregistrement.html.twig #}

<div id="signup-form">
    <form  action= "{{ path('chu_gestion_utilisateur_creation') }}" method="post">
        <p>
            <label for="name">Nom </label>
            <input id="name" type="text" name="nom" value="" required/>
        </p>
        <p>
            <label for="prenom">Prenom</label>
            <input id="prenom" type="text" name="prenom" value="" required/>
        </p>
        <p>
            <label for="fonction">Fonction</label>
            <input id="fonction" type="text" name="fonction"  required/>
        </p>
        <p>
            <label for="dateNaissance">Date de naissance</label>
            <input id="dateNaissance" type="text" name="dateNaissance"  required/>
        </p>
        <p>
            <label for="login">Login</label>
            <input id="username" type="text" name="username" required/>
        </p>
        <p>
            <label for="adressemail">Adresse email </label>
            <input id="adressemail" type="text" name="adresseMail" required/>
        </p>
        <p>
            <label for="motdepass">Mot de passe</label>
            <input id="motdepass" type="password" name="password" required/>
        </p>
        <p>
            <label for="Confimotdepass">Confirmer mot de passe</label>
            <input id="Confimotdepass" type="password" name="confirmPassword" required/>
        </p>
        <p>
          <button id="submit" type="submit">S'enregister</button>
        </p>

    </form>
</div>
