{# src/CHU/gestionUtilisateurBundle/Resources/views/gestionUtilisateur/passOublier.html.twig #}

{% extends "CHUgestionUtilisateurBundle::layoutBundle.html.twig" %}

{% block title %}
Mot de passe oublié
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"  href="{{asset('public/css/log.css')}}" />
{% endblock %}

{% block chu_gestion_utilisateur_body %}
<div class="container">
	<section id="content">
		<h1> Mot de passe oublié?</h1>
		<form  action="{{ path('chu_gestion_utilisateur_accueil') }}" method="post">
			<div class="wrapper">
				<i class="fa fa-user"></i>
				<input type="text" placeholder="Entrer vodre e-mail" name="email" required/>
			</div>

			<div>
				<input type="submit" value="Valider"/>
			</div>

		</form>
	</section>
</div>
{% endblock %}
